.cabecalio {
  align-items: flex;
  display: flex;
  padding: 5;
}

.cabecalio th {
  min-width: 90px;
}

.despesas {
  align-items: flex;
  display: flex;
  padding: 5;
}

.despesas th {
  min-width: 100px;
}
